.reveal .slides h1,
.reveal .slides h2,
.reveal .slides h3,
.reveal .slides h4,
.reveal .slides h5,
.reveal .slides h6 {
  text-transform: none;
}

#nonprofit {
  position: absolute;
  left: 0;
  top: 25%;
  transform: rotate(-10deg);
  width: 30%;
  z-index: 1;
}

#woman_at_starting_line {
  bottom: 0;
  height: 75%;
  position: absolute;
  right: 0;
}

#military_family {
  height: 500px;
  margin-top: 75px;
}

#screen_with_code {
  height: 400px;
  margin-top: 75px;
}

#workshop_with_computers {
  bottom: 0;
  width: 320px;
  left: 0;
  position: absolute;
  transform: rotate(15deg);
}

#pair_programming {
  bottom: 0;
  width: 320px;
  left: 320px;
  position: absolute;
}

#woman_programming {
  bottom: 0;
  width: 320px;
  position: absolute;
  right: 0;
  transform: rotate(-15deg);
}

#ice_breakers li:not(:last-child) {
  margin-bottom: 15px;
}

#web_dev_roles #role_groups {
  display: flex;
}

#web_dev_roles #role_groups > :not(:last-child) {
  margin-right: 50px;
}

#web_dev_roles h3 {
  margin-bottom: 50px;
}

.language_groups {
  display: flex;
  justify-content: space-around;
}

#programming_languages h3 {
  margin-bottom: 50px;
}

.language_groups .html {
  list-style: url('/images/language_logos/HTML5.png');
}

.language_groups .css {
  list-style: url('/images/language_logos/css3.png');
}

.language_groups .java_script {
  list-style: url('/images/language_logos/javascript.com');
}

.language_groups .ruby {
  list-style: url('/images/language_logos/ruby.png');
}

.language_groups .python {
  list-style: url('/images/language_logos/python.png');
}

.language_groups .java {
  list-style: url('/images/language_logos/java.png');
}

.language_groups .php {
  list-style: url('/images/language_logos/php.png');
}

.language_groups .sql {
  list-style: url('/images/language_logos/sql.png');
}

#back_end_languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#back_end_languages ul:not(:last-child) {
  margin-right: 120px;
}

#back_end_languages h4 {
  flex-basis: 100%;
}

#what_makes_a_website h3 {
  margin-top: 50px;
}

#what_makes_a_website img {
  height: 400px;
  position: absolute;
}

#html_code {
  left: 100px;
  bottom: 50px;
}

#css_code {
  left: 0;
  bottom: 25px;
}

#js_code {
  right: 0;
  bottom: 0;
}

#client_and_server h3, #static_vs_dynamic h3, #tools_of_the_trade h3 {
  margin-top: 50px;
}

#woman_on_computer {
  position: absolute;
  bottom: 100px;
  left: 0;
  height: 350px;
}

#server_room {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 350px;
}

#cnn_screenshot {
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 400px;
}

#fb_screenshot {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 400px;
}

#text_editor {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 860px;
}

#browser {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 480px;
  transform: rotate(15deg);
}

#terminal {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 480px;
  transform: rotate(-15deg);
}
